/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/resources/public/js/out
/resources/public/js/app.js
/resources/public/css
/resources/build
/out
/.repl
*.log
.DS_Store
node_modules/
package.json
*~
/log/*
/.cljs_rhino_repl
/resources/public/js/compiled/*
